body {
    background-color: #333333; 
    font-family: sans-serif;
    font-weight: bold;
    size: contain;
    overflow: hidden;
    margin: auto;
  }

 .nametext {
    color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    font-size: 70px;
    text-align: center;
    padding: 10px;
    display: block;
    }

    h2 {
    color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
    }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 50%;
    position: relative;
    margin: auto;
    padding: 10px;
    float: center;
  }

  .container {
    justify-content: center;
    align-items: center;
    height: 3vh;
    flex-direction: column;
    padding: 10px;
    display: block;
}

  nav ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: #e6e6e6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: none;
    font-size: 50px;
  }
  
  nav li :hover {
    color: #277a00;
  }
  
  .imgcontainer {
    position: relative;
    min-height: 100vh;
    size: 400px;
  }
  
  .bottom-image {
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    height: 25vh;
    border-radius: 50%;
  }