body {
    background-color: #00e1ff; 
    font-family: sans-serif;
    size: contain;
    overflow: hidden;
    margin: auto;
    color:#000000;
    font-size: 2vh;
  }

  .topbox {
    background-color: #00e1ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height:10%
  }

  main {

    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;

  }  

  .splash {
      top: 0%;
      left: 0%;
      font-size: 15vh; 
      font-weight: bold; 
      color: rgb(255, 0, 149); 
      text-shadow: -4px 0 rgb(238, 255, 0), 0 2px rgb(238, 255, 0), 2px 0 rgb(238, 255, 0), 0 -4px rgb(238, 255, 0); 
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      position: absolute;
      text-align: left;
  }

  .rightsplash {
    top: 0%;
    right: 0%;
    position: absolute;
    margin-left: auto;
    text-align: left;
    font-size: 5vh;
    color: rgb(195, 0, 255);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    white-space: pre-wrap;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: right;
  }

  .icon {
    position: relative;
    height: 5vh;
    border-radius: 6vh;
    background-color: #ffffff;
    padding: 1vh;
  }
  .circle {
    position: fixed;
    top: -20%;
    right: -30%;
    width: 165vh;
    height: 150vh;
    border-radius: 50%;
    background-color: #353535;
    overflow: hidden;
  }
    h1 {
    color:#ff00aa;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    font-size: 5vh;
    text-align: left;
    margin-top: 50px;
    }
    h2 {
    color:rgb(233, 233, 233);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    font-size: 3vh;
    text-align: left;
    margin-top: 50px;
    }
    h3 {
    color:rgb(236, 236, 236);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    font-size: 2vh;
    text-align: left;
    margin-top: 50px;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #15ff00;
      height: 5%;
      position: fixed;
      top: 6%;
      left: 0;
      width: 100%;
      z-index: 9999;
      border-top: 2px solid #ff00aa;
      border-bottom: 2px solid #ff00aa;
    }

  .container {
    justify-content: center;
    align-items: center;
    height: 3vh;
    flex-direction: column;
    padding: 10px;
    display: block;
}

  nav ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: #ff00aa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: none;
    font-size: 24px;
    font-weight: thin;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav li :hover {
    color: #4e4e4e;
  }
  
  .imgcontainer {
    position: absolute;
    min-height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    display: flex;
  }
  
  .bottom-image {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translateX(-50%);
    height: 25vh;
    border-radius: 50%;
  }

  iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
    height: 315px;
  }

  .project-container {
    top: 10%;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
  }
  
  .chess-opening-trainer {
    width: 40%;
    margin-right: 20px;

  }
  .storyround-project {
    width: 40%;
    margin-left: 20px;
  }


  .circle-button {
    position: fixed;
    top: 10px;
    right: 10%;
    transform: translateX(-50%);    width: 6vh;
    height: 4vh;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #1E90FF, #00BFFF);
    border: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .party-button {
    position: fixed;
    top: 10px;
    right: 5%;
    transform: translateX(-50%);    width: 6vh;
    height: 4vh;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #FF69B4, #FF1493);
    border: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  @media screen and (orientation: portrait) {
    main {
        position: absolute;
        top: 20%;
        left: 2%;
        right: 2%;
      }  
    .circle {
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      border-radius: 50% 0% 0% 50%;
    }
  
    .splash {
      top: 30%;
      font-size: 10vw;
      left: 4%;
    }
    .rightsplash {
      font-size: 4vw;
      right: 4%;
      top: 10%;
      max-width: 60%;

    }
    .circle-button {
      position: fixed;
      top: 1%;
      right: 20%;
      transform: translateX(-50%);
      width: 6vh;
      height: 4vh;
      border-radius: 50%;
      background-image: linear-gradient(to bottom right, #1E90FF, #00BFFF);
      border: none;
      color: white;
      font-size: 1vh;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .party-button {
      position: fixed;
      top: 1%;
      right: 0%;
      transform: translateX(-50%);
      width: 6vh;
      height: 4vh;
      border-radius: 50%;
      background-image: linear-gradient(to bottom right, #FF69B4, #FF1493);
      border: none;
      color: white;
      font-size: 1vh;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }    
    .bottom-image {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        height: 25vh;
        border-radius: 50%;
      }
      .project-container {
        top: 10%;
        left: 5%;
        right: 10%;
        width: 100%;
        align-items: left;
      }
      
      .chess-opening-trainer {
        width: 90%;
    
      }
      .storyround-project {
        width: 90%;
      }
  }